<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/resources/css/stylemenuprincipal.css}">
<title>Menu Principal</title>
</head>
<body>
  <nav class="navbar"> 
    <header >
    <img th:src="@{/resources/img/libreria.png}" alt="">
    <a href="#"class="logo">Central Library</a>
  </header>
    <ul class="menu">
      <li><a href="#" class="menu-item active">Inicio</a></li>
      <li class="menu-item active" th:each="row:${session.enlaces}">
						  <a class="nav-link" th:text="${row.descripcion}"  th:href="${row.ruta}"></a>
						</li>
        <div class="flex" style="width:200px!important;padding-top: 10px;font-weight:bold ">
			      		<span class="text-white">Usuario: </span><span class="text-white" th:text="${session.datosUsuario}"></span>
			      	  </div> 						 
      <li class="logout"><a th:href="@{/logout}" class="menu-item">Cerar sesison</a></li>
    </ul>
    <button class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </nav>
</body>
</html>